---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">Oraculo de Dados</a></h2>
		<div class="internal-links">
		</div>
	<button class="btn-darkmode" id="toggleDark">🌙</button>		
	</nav>
</header>

<style>
	  .btn-darkmode {
    background: rgba(255,255,255,0.1);
    border: 1px solid #c084fc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  .btn-darkmode:hover {
    background: rgba(192, 132, 252, 0.2);
    transform: scale(1.1);
  }

	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
<script>
  const toggleDark = document.getElementById('toggleDark');

  if (localStorage.getItem('dark') === 'true') {
    document.documentElement.classList.add('dark');
    toggleDark.textContent = '☀️';
  }

  toggleDark.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark');
    const isDark = document.documentElement.classList.contains('dark');
    localStorage.setItem('dark', isDark);
    toggleDark.textContent = isDark ? '☀️' : '🌙';
  });
</script>