---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="Title">¡¡Bienvenido!!</h1>
			<p> En esta página puedes hacer distintos tipos de tiradas  de dados para tus  decisiones</p>
			<a href="/inicio" class="btn-comenzar">Comenzar</a>
		</main>
		<Footer />
	</body>
</html>
<style>
	.btn-comenzar {
	  display: inline-block;
	  padding: 0.8rem 2rem;
	  background-color: #7b2d8b;
	  color: white;
	  text-decoration: none;
	  border-radius: 8px;
	  font-size: 1.2rem;
	  transition: background-color 0.3s;
	  display: flex;
	  justify-content: center; 
	  align-items: center;
	}
  
	.btn-comenzar:hover {
	  background-color: #9b3dab;
	}

	.Title {
		display: flex;
		justify-content: center; 
		align-items: center;
	}
  </style>
  
